.about-section{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.profile-img{
    width: 150px;
    height: 150px;
    margin-top: 55px;
}

.about-para{
    font-weight: lighter;
    width: 60ch;
}

@media (max-width:700px) {
    .about-para{
        width: 40ch;
        font-size: 14px;
    }
    
}

@media (max-width:425px) {
    .about-para{
        width: 30ch;
        font-size: 12px;
    }
    
}