.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.footer-icon{
    transition: all 0.3s ease-in-out;
}
.footer-icon:hover{
    color: rgb(239, 239, 102);
}
.github-icon{
    transform: rotate(90deg);
}