.navbar{
    position: sticky;
    max-width: 1200px;
    margin: auto;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
}
.nav-link-container{
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
}

.nav-title{
    font-size:xx-large;
    font-weight: 100;
    margin: 0px 0px 0px 5px;
    width: 100%;
    color: var(--primary-color);
}
.nav-title-grey{
    color: rgb(178, 178, 178);
    right: 0px;
    margin-left: -0.3rem;
}
.nav-link{
    text-transform: uppercase;
    font-size:smaller;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    color: var(--primary-color);
}
.nav-link:hover{
    cursor: pointer;
    color: rgb(178, 178, 178);
}

.title-container{
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
}

@media (max-width: 1000px) {
    .nav-title{
        font-size: 1.5rem;
    }
    .mob-nav{
        display: flex;
    }
    .nav-link-container{
        flex-direction: column;
        align-items: center;
        display: none;   
    } 
    .nav-title-grey{
        display: none;
    }
}

.active-nav{
    font-size: small;
    border-bottom: 2px var(--primary-color) solid;
    border-radius: 2px;
}

.theme-btn{
    text-align: center;
    margin: 19px 0px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 151px;
    height: fit-content;
    padding: 5px;
    font-size: smaller;
}
.theme-btn:hover{
    border-radius: 25px;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-color);
}

@media (max-width:600px) {
    .nav-content{
        flex-direction: column;
        align-items: center;
    }
}
