.project-article{
    position: relative;
    height: fit-content;
    width: 350px;
    border-radius: 5px;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    transition: all 0.3s ease-in-out;
    z-index: 2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.project-article:hover{
    padding: 7px;
    margin: 13px;
    border-radius: 3px;
    box-shadow: 5px 5px 0px var(--secondary-bg-color);
}

.project-info-container{
    z-index: 3;
    background-color: var(--project-bg);
    backdrop-filter: blur(0px);
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}
.project-info-container:hover{
    backdrop-filter: blur(10px);
}

.project-title{
    font-family: 'Zen Loop', cursive;
    font-size: 60px;
}

.project-info-tab{
    margin: -20px;
    background-color: rgba(248, 248, 248, 0.8);
    padding: 20px;
    height: 12rem;
}

.small-para{
    font-size: 11px;
}

.stats{
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 10px;
}

.stats-reiteration{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;
}

@media (max-width:500px) {
    .project-article{
        width: 250px;
    }
    .stats-reiteration{
        flex-wrap: nowrap;
        font-size: 9px;
    }
}