@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Chakra+Petch:wght@300&family=Kumbh+Sans:wght@700&family=Noto+Sans+Mono&family=Zen+Loop&display=swap');
@import url('hamburger.css');
@import url('overlay.css');

*{
    padding: 5px;
}
:root{
    --primary-bg-color: white;
    --primary-color: black;
    --secondary-bg-color: white;
    --secondary-color: black;
    --linear-bg1: rgba(239, 215, 215, 0.5);
    --linear-bg2: rgba(193, 177, 151, 0.5);
    --linear-bg3: rgba(108, 212, 228, 0.5);
    --linear-bg4: rgba(166, 242, 195, 0.5);
    --primary-section-color: black;
    --primary-section2-color: rgb(40, 34, 34);
    --project-bg: rgba(255, 255, 255, 0.4);
}

.dark-theme{
    --primary-bg-color: black;
    --primary-color: white;
    --secondary-bg-color: white;
    --secondary-color: black;
    --linear-bg1: rgba(239, 215, 215, 0.5);
    --linear-bg2: rgba(193, 177, 151, 0.5);
    --linear-bg3: rgba(108, 212, 228, 0.5);
    --linear-bg4: rgba(166, 242, 195, 0.5);
    --primary-section-color: black;
    --primary-section2-color: rgb(40, 34, 34);
    --project-bg: rgba(0, 0, 0,0.4);
}
.light-theme{
    --primary-bg-color: white;
    --primary-color: black;
    --secondary-bg-color: black;
    --secondary-color: white;
    --linear-bg1: rgba(198, 155, 155, 0.5);
    --linear-bg2: rgba(244, 212, 161, 0.5);
    --linear-bg3: rgba(182, 228, 108, 0.5);
    --linear-bg4: rgba(166, 242, 233, 0.5);
    --primary-section-color: white;
    --primary-section2-color: rgb(243, 243, 243);
    --project-bg: rgba(255, 255, 255, 0.5);
}

body{
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
    font-family: 'Kumbh Sans', sans-serif;
    max-width: 1200px;
    margin: auto;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

button{
    all: unset;
}


/*NAV*/
.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.navbar{
    position: sticky;
    max-width: 1200px;
    margin: auto;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
}
.nav-link-container{
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
}

.nav-title{
    font-size:xx-large;
    font-weight: 100;
    margin: 0px 0px 0px 5px;
    width: 100%;
    color: var(--primary-color);
}
.nav-title-grey{
    color: rgb(178, 178, 178);
    right: 0px;
    margin-left: -0.3rem;
}
.nav-link{
    text-transform: uppercase;
    font-size:smaller;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    color: var(--primary-color);
}
.nav-link:hover{
    cursor: pointer;
    color: rgb(178, 178, 178);
}

.title-container{
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
}

@media (max-width: 1000px) {
    .nav-title{
        font-size: 1.5rem;
    }
    .mob-nav{
        display: flex;
    }
    .nav-link-container{
        flex-direction: column;
        align-items: center;
        display: none;   
    } 
    .nav-title-grey{
        display: none;
    }
}

/* .nav-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}

.nav-links-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 150px;
}

.nav-logo{
    color: var(--primary-color);

}

.nav-link{
    color: var(--primary-color);
    transition: all 0.2s ease-in-out;
}
.nav-link:hover{
    border-bottom: 2px var(--primary-color) solid;
} */

.active-nav{
    font-size: small;
    border-bottom: 2px var(--primary-color) solid;
    border-radius: 2px;
}

.theme-btn{
    text-align: center;
    margin: 19px 0px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 151px;
    height: fit-content;
    padding: 5px;
    font-size: smaller;
}
.theme-btn:hover{
    border-radius: 25px;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-color);
}

@media (max-width:600px) {
    .nav-content{
        flex-direction: column;
        align-items: center;
    }
}


/*Home*/
.home-section{
    border-radius: 5px;
    height: fit-content;
    width: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(90, 90, 90, 0.7)),
        url("https://cdn.pixabay.com/photo/2018/01/29/13/03/internet-3116062_1280.jpg");    
    background-repeat: repeat;
    background-size: 120%;
    background-position: top;
    text-align: center;
    font-family: 'Zen Loop', cursive;
    color: white;
    margin: 25px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.work-section{
    text-align: center;
    border-radius: 5px;
    height: fit-content;
    width: auto;
    padding: 20px;
    margin-top: 25px;
    background-color: var(--primary-section2-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.projects-container{
    position:relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
}


.home-title{
    font-family: 'Zen Loop', cursive;
    font-size: 90px;
}
.home-title-para{
    font-size: 35px;
}

.work-title{
    font-family: 'Zen Loop', cursive;
    font-size: 70px;
}

@media (max-width:600px) {
    .home-title{
      font-size: 75px;  
    } 
}

@media (max-width:500px) {
    .home-title{
        font-size: 55px;
    }
    .home-title-para{
        font-size: 25px;
    }
}

.star{
    transition: all 3s ease-in-out;
    z-index: 0;
    position: absolute;
    opacity: 0.1;
}
.token-1{
    margin: 0% 0% 0% 0%; 
    height: 40px;
    width: 40px;
}
.token-2{
    margin: 10% 0% 0% 70%; 
    height: 80px;
    width: 80px;
}
.token-3{
    margin: 20% 70% 0% 0%; 
    height: 200px;
    width: 200px;
}
.token-4{
    margin: 50% 0% 0% 0%; 
    height: 350px;
    width: 350px;
}
.token-5{
    margin: -5% 55% 0% 0%;
    height: 50px;
    width: 50px;
}

@media (max-width:700px) {
    .token-1{
        margin: 0% 0% 0% 0%;
        height: 40px;
        width: 40px;
    }
    .token-2{
        margin: 90% 0% 0% 80%;
        height: 120px;
        width: 120px;
    }
    .token-3{
        margin: 20% 70% 0% 0%;
        height: 90px;
        width: 90px;
    }
    .token-4{
        margin: 50% 0% 0% 0%;
        height: 90px;
        width: 90px;
    }
    .token-5{
        margin: -5% 55% 0% 0%;
        height: 50px;
        width: 50px;
    }
}

/*project component*/
.project-article{
    position: relative;
    height: fit-content;
    width: 350px;
    border-radius: 35px;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    transition: all 0.3s ease-in-out;
    z-index: 2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.project-article:hover{
    padding: 7px;
    margin: 13px;
    border-radius: 32px;
    box-shadow: 5px 5px 0px var(--secondary-bg-color);
}

.project-info-container{
    z-index: 3;
    background-color: var(--project-bg);
    backdrop-filter: blur(0px);
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}
.project-info-container:hover{
    backdrop-filter: blur(10px);
}

.project-title{
    font-family: 'Zen Loop', cursive;
    font-size: 60px;
}

.project-info-tab{
    margin: -20px;
    background-color: rgba(248, 248, 248, 0.8);
    padding: 20px;
}

.small-para{
    font-size: 11px;
}

.stats{
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 10px;
}

.stats-reiteration{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;
}

@media (max-width:500px) {
    .project-article{
        width: 250px;
    }
    .stats-reiteration{
        flex-wrap: nowrap;
        font-size: 9px;
    }
}

/*About*/

.about-section{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 5px;
    height: fit-content;
    width: auto;
    padding: 20px;
    margin-top: 25px;
    background-color: var(--primary-section2-color);
    max-width: 1000px;
    margin: 25px auto;
}

.profile-img{
    width: 150px;
    height: 150px;
    margin-top: 55px;
}

.about-para{
    width: 60ch;
}

@media (max-width:700px) {
    .about-para{
        width: 40ch;
        font-size: 14px;
    }
    
}

@media (max-width:425px) {
    .about-para{
        width: 30ch;
        font-size: 12px;
    }
    
}

/*Footer*/
.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
}
.footer-icon{
    transition: all 0.3s ease-in-out;
}
.footer-icon:hover{
    color: rgb(239, 239, 102);
}
.github-icon{
    transform: rotate(90deg);
}