@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Chakra+Petch:wght@300&family=Kumbh+Sans:wght@700&family=Noto+Sans+Mono&family=Zen+Loop&display=swap');

*{
    padding: 5px;
}
:root{
    --primary-bg-color: white;
    --primary-color: black;
    --secondary-bg-color: white;
    --secondary-color: black;
    --linear-bg1: rgba(239, 215, 215, 0.5);
    --linear-bg2: rgba(193, 177, 151, 0.5);
    --linear-bg3: rgba(108, 212, 228, 0.5);
    --linear-bg4: rgba(166, 242, 195, 0.5);
    --primary-section-color: black;
    --primary-section2-color: rgb(40, 34, 34);
    --project-bg: rgba(255, 255, 255, 0.6);
}

.dark-theme{
    --primary-bg-color: black;
    --primary-color: white;
    --secondary-bg-color: white;
    --secondary-color: black;
    --linear-bg1: rgba(239, 215, 215, 0.5);
    --linear-bg2: rgba(193, 177, 151, 0.5);
    --linear-bg3: rgba(108, 212, 228, 0.5);
    --linear-bg4: rgba(166, 242, 195, 0.5);
    --primary-section-color: black;
    --primary-section2-color: rgb(40, 34, 34);
    --project-bg: rgba(0, 0, 0,0.4);
}
.light-theme{
    --primary-bg-color: white;
    --primary-color: black;
    --secondary-bg-color: black;
    --secondary-color: white;
    --linear-bg1: rgba(198, 155, 155, 0.5);
    --linear-bg2: rgba(244, 212, 161, 0.5);
    --linear-bg3: rgba(182, 228, 108, 0.5);
    --linear-bg4: rgba(166, 242, 233, 0.5);
    --primary-section-color: white;
    --primary-section2-color: rgb(243, 243, 243);
    --project-bg: rgba(255, 255, 255, 0.8);
}

body{
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
    font-family: 'Kumbh Sans', sans-serif;
    max-width: 1200px;
    margin: auto;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

button{
    all: unset;
}


/*NAV*/
.nav-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.nav-links-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 150px;
}

.nav-logo{
    color: var(--primary-color)
}

.nav-link{
    color: var(--primary-color);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.nav-link:hover{
    border-bottom: 2px var(--primary-color) solid;
}

.active-nav{
    font-size: small;
    border-bottom: 2px var(--primary-color) solid;
    border-radius: 2px;
}

.theme-btn{
    text-align: center;
    margin: 19px 0px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 151px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 5px;
    font-size: smaller;
}
.theme-btn:hover{
    border-radius: 25px;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-color);
}

@media (max-width:600px) {
    .nav-content{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}


/*Home*/
.home-section{
    border-radius: 5px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: auto;
    background: -webkit-gradient(linear, left top, right top, from(var(--linear-bg4)), color-stop(var(--linear-bg2)), color-stop(var(--linear-bg3)), to(var(--linear-bg4)));
    background: -o-linear-gradient(left, var(--linear-bg4), var(--linear-bg2), var(--linear-bg3), var(--linear-bg4));
    background: linear-gradient(90deg, var(--linear-bg4), var(--linear-bg2), var(--linear-bg3), var(--linear-bg4));
    background-repeat: repeat;
    background-size: 120%;
    text-align: center;
    font-family: 'Zen Loop', cursive;
    margin: 25px auto;
}

.work-section{
    text-align: center;
    border-radius: 5px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: auto;
    padding: 20px;
    margin-top: 25px;
    background-color: var(--primary-section2-color);
}

.projects-container{
    position:relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1;
}


.home-title{
    font-family: 'Zen Loop', cursive;
    font-size: 90px;
}
.home-title-para{
    font-size: 35px;
}

.work-title{
    font-family: 'Zen Loop', cursive;
    font-size: 50px;
}

@media (max-width:600px) {
    .home-title{
      font-size: 75px;  
    } 
}

@media (max-width:500px) {
    .home-title{
        font-size: 55px;
    }
    .home-title-para{
        font-size: 25px;
    }
}

.star{
    -webkit-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out;
    transition: all 3s ease-in-out;
    z-index: 0;
    position: absolute;
    opacity: 0.2;
}
.token-1{
    margin: 0% 0% 0% 0%; 
    height: 40px;
    width: 40px;
}
.token-2{
    margin: 10% 0% 0% 70%; 
    height: 80px;
    width: 80px;
}
.token-3{
    margin: 20% 70% 0% 0%; 
    height: 200px;
    width: 200px;
}
.token-4{
    margin: 50% 0% 0% 0%; 
    height: 350px;
    width: 350px;
}
.token-5{
    margin: -5% 55% 0% 0%;
    height: 50px;
    width: 50px;
}

@media (max-width:700px) {
    .token-1{
        margin: 0% 0% 0% 0%;
        height: 40px;
        width: 40px;
    }
    .token-2{
        margin: 90% 0% 0% 80%;
        height: 120px;
        width: 120px;
    }
    .token-3{
        margin: 20% 70% 0% 0%;
        height: 90px;
        width: 90px;
    }
    .token-4{
        margin: 50% 0% 0% 0%;
        height: 90px;
        width: 90px;
    }
    .token-5{
        margin: -5% 55% 0% 0%;
        height: 50px;
        width: 50px;
    }
}

/*project component*/
.project-article{
    position: relative;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 350px;
    border-radius: 25px;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 2;
}
.project-article:hover{
    padding: 7px;
    margin: 13px;
    -webkit-box-shadow: 5px 5px 0px var(--secondary-bg-color);
            box-shadow: 5px 5px 0px var(--secondary-bg-color);
}

.project-info-container{
    z-index: 3;
    background-color: var(--project-bg);
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
    border-radius: 25px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.project-info-container:hover{
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
}

.project-title{
    font-family: 'Zen Loop', cursive;
    font-size: 60px;
}

.small-para{
    font-size: 11px;
}

.stats{
    text-align: center;
}

.stats-reiteration{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 12px;
}

@media (max-width:500px) {
    .project-article{
        width: 250px;
    }
    .stats-reiteration{
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        font-size: 9px;
    }
}

/*About*/

.about-section{
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    border-radius: 5px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: auto;
    padding: 20px;
    margin-top: 25px;
    background-color: var(--primary-section2-color);
    max-width: 1000px;
    margin: 25px auto;
}

.profile-img{
    width: 150px;
    height: 150px;
    margin-top: 55px;
}

.about-para{
    width: 60ch;
}

@media (max-width:700px) {
    .about-para{
        width: 40ch;
        font-size: 14px;
    }
    
}

@media (max-width:425px) {
    .about-para{
        width: 30ch;
        font-size: 12px;
    }
    
}

/*Footer*/
.footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
}
.footer-icon{
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.footer-icon:hover{
    color: rgb(239, 239, 102);
}
.github-icon{
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}