@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Chakra+Petch:wght@300&family=Kumbh+Sans:wght@700&family=Noto+Sans+Mono&family=Zen+Loop&display=swap');


*{
    padding: 5px;
}
:root{
    --primary-bg-color: black;
    --primary-color: white;
    --secondary-bg-color: white;
    --secondary-color: black;
    --linear-bg1: rgba(239, 215, 215, 0.5);
    --linear-bg2: rgba(193, 177, 151, 0.5);
    --linear-bg3: rgba(108, 212, 228, 0.5);
    --linear-bg4: rgba(166, 242, 195, 0.5);
    --primary-section-color: black;
    --primary-section2-color: rgb(40, 34, 34);
    --project-bg: rgba(0, 0, 0,0.2);
}

.dark-theme{
    --primary-bg-color: black;
    --primary-color: white;
    --secondary-bg-color: white;
    --secondary-color: black;
    --linear-bg1: rgba(239, 215, 215, 0.5);
    --linear-bg2: rgba(193, 177, 151, 0.5);
    --linear-bg3: rgba(108, 212, 228, 0.5);
    --linear-bg4: rgba(166, 242, 195, 0.5);
    --primary-section-color: black;
    --primary-section2-color: rgb(40, 34, 34);
    --project-bg: rgba(0, 0, 0,0.2);
}
.light-theme{
    --primary-bg-color: white;
    --primary-color: black;
    --secondary-bg-color: black;
    --secondary-color: white;
    --linear-bg1: rgba(198, 155, 155, 0.5);
    --linear-bg2: rgba(244, 212, 161, 0.5);
    --linear-bg3: rgba(182, 228, 108, 0.5);
    --linear-bg4: rgba(166, 242, 233, 0.5);
    --primary-section-color: white;
    --primary-section2-color: rgb(243, 243, 243);
    --project-bg: rgba(255, 255, 255, 0.502);
}

body{
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
    font-family: 'Kumbh Sans', sans-serif;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

button{
    all: unset;
}


/*NAV*/
.nav-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-links-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 150px;
}

.nav-logo{
    color: var(--primary-color)
}

.nav-link{
    color: var(--primary-color);
    transition: all 0.2s ease-in-out;
}
.nav-link:hover{
    border-bottom: 2px var(--primary-color) solid;
}

.active-nav{
    font-size: small;
    border-bottom: 2px var(--primary-color) solid;
    border-radius: 2px;
}

.theme-btn{
    text-align: center;
    margin: 19px 0px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 151px;
    height: fit-content;
    padding: 5px;
    font-size: smaller;
}
.theme-btn:hover{
    border-radius: 25px;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-color);
}

@media (max-width:600px) {
    .nav-content{
        flex-direction: column;
        align-items: center;
    }
}


/*Home*/
.home-section{
    border-radius: 5px;
    height: fit-content;
    width: auto;
    background: linear-gradient(90deg, var(--linear-bg4), var(--linear-bg2), var(--linear-bg3), var(--linear-bg4));
    background-repeat: repeat;
    background-size: 120%;
    text-align: center;
    font-family: 'Zen Loop', cursive;
}

.work-section{
    text-align: center;
    border-radius: 5px;
    height: fit-content;
    width: auto;
    padding: 20px;
    margin-top: 25px;
    background-color: var(--primary-section2-color);
}

.projects-container{
    position:relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
}


.home-title{
    font-family: 'Zen Loop', cursive;
    font-size: 100px;
}
.home-title-para{
    font-size: 35px;
}

.work-title{
    font-family: 'Zen Loop', cursive;
    font-size: 50px;
}

@media (max-width:400px) {
    .home-title{
        font-size: 75px;
    }
}


.star{
    transition: all 1s ease-in-out;
    z-index: 0;
    position: absolute;
    opacity: 0.7;
}
.token-1{
    margin: 0% 0% 0% 0%;
    height: 40px;
    width: 40px;
}
.token-2{
    margin: 10% 0% 0% 70%;
    height: 80px;
    width: 80px;
}
.token-3{
    margin: 20% 70% 0% 0%;
    height: 200px;
    width: 200px;
}
.token-4{
    margin: 5% 0% 0% 55%;
    height: 350px;
    width: 350px;
}
.token-5{
    margin: -5% 55% 0% 0%;
    height: 50px;
    width: 50px;
}

/*project component*/
.project-article{
    position: relative;
    height: fit-content;
    width: 350px;
    border-radius: 25px;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    transition: all 0.3s ease-in-out;
    z-index: 2;
}
.project-article:hover{
    padding: 7px;
    margin: 13px;
    box-shadow: 5px 5px 0px var(--secondary-bg-color);
}

.project-info-container{
    z-index: 3;
    background-color: var(--project-bg);
    backdrop-filter: blur(2px);
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
}
.project-info-container:hover{
    backdrop-filter: blur(8px);
}

.project-title{
    font-family: 'Zen Loop', cursive;
    font-size: 35px;
}

.small-para{
    font-size: 11px;
}

@media (max-width:500px) {
    .project-article{
        width: 250px;
    }
}
